body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    position: relative;
    margin: 0;
    width: 90%;
    height: 80%;
    overflow: hidden;
    background-color: lightgreen;
    border: 10px solid black;
}
.tree-1{
    position: absolute;
    /* top: 100px;
    left: 100px; */
    background-image: url("../images/tree-1.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.tree-2{
    position: absolute;
    /* top: 300px;
    left: 400px; */
    background-image: url("../images/tree-2.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.tree-3{
    position: absolute;
    /* top: 500px;
    left: 700px; */
    background-image: url("../images/tree-3.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.insect{
    position: absolute;
    /* top: 500px;
    left: 700px; */
    background-image: url("../images/mosquito.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    /* animation: insect3 2s ease-in-out infinite; */
}

@keyframes insect1 {
    0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.5, 1.5);
      }
      100% {
        transform: scale(1, 1);
      }
}
@keyframes insect2 {
    0% {
        transform: scale(1, 1);
      }
      25% {
        transform: scale(1.5, 1.5);
      }
      100% {
        transform: scale(1, 1);
      }
}
@keyframes insect3 {
    0% {
        transform: scale(1, 1);
      }
      75% {
        transform: scale(1.5, 1.5);
      }
      100% {
        transform: scale(1, 1);
      }
}

