.text1 {
    position: absolute;
    left: 30%;
    top: 7%;
}

.text2 {
    position: absolute;
    left: 30%;
    top: 22%;
}

.text3 {
    position: absolute;
    left: 30%;
    top: 37%;
}

.text4 {
    position: absolute;
    left: 30%;
    top: 51%;
}

.text5 {
    position: absolute;
    left: 30%;
    top: 65%;
}

.text6 {
    position: absolute;
    left: 30%;
    top: 79%;
}