footer {
    border: 3px solid pink;
    background: url("/assets/books2.jpg");
    height: 40vh;
    font-family: Nanum Myeongjo;
    font-weight: 800;
    /* position: relative; */
    /* bottom: 0; */
    /* width: 100%;
    margin-bottom: -400px; */
}

.footer {
    position: relative;
}

.engraved { 
    color: #333;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}

.title1-footer {
    position: absolute;
    left: 37%;
    top: 25%;
    /* position: relative;
    top: 8vh;
    left: 37vw; */
}

.title2-footer {
    position: absolute;
    left: 48%;
    top: 7%;
    /* position: relative;
    top: -2vh;
    left: 47vw; */
}

a:hover { 
    color: black;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}