header {
    /* border: 3px solid black; */
    background: url("/assets/books.jpg");
    height: 40vh;
    font-family: Nanum Myeongjo;
    font-weight: 800;
    margin-top: -25px;
}

.header {
    position: relative;
}

.engraved { 
    color: #333;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}

.title1-header {
    width: 100px;
    position: absolute;
    left: 36%;
    top: 63%;
    /* position: relative;
    top: 28vh;
    left: 36vw; */
}

.title2-header {
    width: 100px;
    position: absolute;
    left: 52%;
    top: 63%;
    /* position: relative;
    top: 22vh;
    left: 51vw; */
}