@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:"Quicksand", sans-serif;
$transition--length: .8;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
	overflow: auto;
	height: 100vh;

}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
	position: relative;
	background: url('./Images/background.jpg');
	min-height: 100%;
}

#carousel{
  z-index: 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.c-image{
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
}
.App{
	font-family: $font--primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  position: relative;
	// padding-bottom: 15px;


}

.Search{
  .Checkboxes{
    position: absolute;
    top: 56vh;
    left: calc(50% - 275px);
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    // font-weight: bold;
    font-size: medium;
    padding: 1px;
    z-index: 3;
    border-radius: 50px;
    input{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    background: rgba(245, 245, 245, 0.8);
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .search{
    position: absolute;
    top: 50vh;
    left: calc(50% - 275px);
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 550px;
    height: 50px;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 50px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	button{
      border: none;
      height: 50px;
      width: 80px;
      border-radius: 50px;
      background: red;
      color: whitesmoke;
      &:focus{
        border: none !important;
        outline: none !important;
      }
			&:active{
				transform: scale(0.98);
			}
    }
    input{
      background: transparent;
      border: none;
      border-radius: 50px;
      min-width: 200px;
      width: 500px;
      font-size: x-large;
      padding-left: 20px;
      &:focus{
        outline: none;
      }
    }
  }
}


//default state
.menu-icon{
	$size: 30px;
	height: $size;
	width: $size;
	position: fixed;
	z-index:20;
	left: 50px;
	top: 30px;
	cursor: pointer;
	&__line{
		height: 2px;
		width: $size;
		display: block;
		background-color: $font--color;
		margin-bottom: 4px;
		transition: transform .2s ease, background-color .5s ease;
	}
	&__line-left{
		width: $size / 2;
	}
	&__line-right{
		width: $size / 2;
		float: right;
	}
  h5{
    position: absolute;
    top: -5px;
    left: 50px;
    width: 200px;
    color: white;
  }
}

.nav{
	$width: 100vw;
	$height: 100vh;
	$font--size--calc: calc(2vw + 10px);
	$transition--easing: cubic-bezier(.77,0,.175,1);
	position: fixed;
	z-index:1;
	&:before,&:after{
		content: "";
		position: fixed;
		width:$width;
		height:$height;
		background: rgba(#000, .8);
		z-index: -1;
		transition: transform $transition--easing $transition--length + s;
		transform: translateX(0%) translateY(-100%);
	}
	&:after{
		background: rgba(#ffffff, .5);
		transition-delay: 0s;
	}
	&:before{
		transition-delay: .1s;
	}
	&__content{
		position: fixed;
		top:50%;
		transform: translate(0%,-50%);
		width: 100%;
    	text-align: center;
		font-size: $font--size--calc;
		font-weight: 200;
		cursor: pointer;
		h1{
			font-size: 2em;
			font-weight: bold;
		}
	}
	&__list-item{
		position: relative;
		display: inline-block;
		transition-delay: $transition--length + s;
		opacity: 0;
		transform: translate(0%, 100%);
		transition: opacity .2s ease, transform .3s ease;
		margin-right: 25px;
		&:before{
			content: "";
			position: absolute;
			background: $font--color--active;
			width: 20px;
			height: 1px;
			top: 100%;
			transform: translate(0%, 0%);
			transition: all .3s ease;
			z-index: -1;
		}
		&:hover{
			&:before{
				width: 100%;
			}
		}
	}

}
.header{
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 70px;
	z-index: 1;
}
//active state
body .nav-active{
	$menu--items--count: 8;
	.menu-icon{
		&__line{
			background-color: #000;
			transform: translateX(0px) rotate(-45deg);
		}
		&__line-left{
			transform: translateX(1px) rotate(45deg);
		}
		&__line-right{
			transform: translateX(-2px) rotate(45deg);
		}
	}
	.nav{
    z-index: 10;
		visibility:visible;
		&:before,&:after{
			transform: translateX(0%) translateY(0%);
		}
		&:after{
			transition-delay: .1s;
		}
		&:before{
			transition-delay: 0s;
		}
		&__list-item{
			opacity: 1;
			transform: translateX(0%);
			transition: opacity .3s ease, transform .3s ease, color .3s ease;
			@for $i from 0 through $menu--items--count {
				&:nth-child(#{$i}){
					transition-delay: $transition--length * $i / 8 + .5 + s;
				}
			}
		}
	}
}




