.esports-info {
  display: inline-block;
  border: 1px solid black;
  width: 32vw;
  height: 50vh;
  vertical-align: top;
  overflow: scroll;
}

img {
  width: 30vw;
  height: 35vh;
}

.dota-tournament-img {
  float: left;
}

