.info-1, .info-2, .info-3 {
    width: 29%;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 2%;
    background-size: cover;
    border-radius: 10px;
}

.info-1 {
    background-image: url(/assets/task2-bg.jpeg);
}

.info-2 {
    background-image: url(/assets/task2-bg1.jpeg);
}

.info-3 {
    background-image: url(/assets/task2-bg2.jpg);
}

.inline {
    display: inline-block;
}