:root {
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  height: 100vh;
  width: 100vw;
  font-size: 5rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > h1{
  position: absolute;
  z-index: -10;
}

.box-1,
.box-2,
.box-3,
.box-4{
  width: 400px;
  height: 400px;
  transition: 1.5s ease;
}

.box-1{
  background-color: steelblue;
}
.box-2{
  background-color: dimgray;
}
.box-3{
  background-color: yellow;
}
.box-4{
  background-color: rosybrown;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:hover > .box-1{
  transform: rotate(90deg) translateY(400px);
}

.container:hover > .box-3{
  transform: rotate(-90deg) translateY(-400px);
}

.container:hover > .box-2{
  transform: rotate(-90deg) translateY(400px);
}

.container:hover > .box-4{
  transform: rotate(90deg) translateY(-400px);
}


